---
import Section from "@/components/Section.astro";

---

<Section>
    <a href="/">About</a>
    <a href="/work">Projects</a>
    <a href="/blog">Blog</a>
</Section>

<style>
    a {
        color: #333;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
