---
import Contact from "./Contact.astro";
import Section from "./Section.astro";
---

<Section title="About Me">
    <p>
        I have experience developing full-stack projects and I'm always looking
        to expand my knowledge. I have developed with C# and Javascript. I love
        working on teams of people that share my goal, make awesome things.
    </p>
    <Contact />
</Section>
