<nav class="text-center m-5">
    <a class="hover:text-blue-700" href="/">Home</a>
    <a class="hover:text-blue-700" href="/blog">Blog</a>
    <a class="hover:text-blue-700" href="/about">About me</a>
</nav>
