---
import Section from "./Section.astro";
---

<Section title="Recommended">
    <p>List of Articles I enjoyed and want to share.</p>
    <ol class="font-bold list-disc list-inside">
        <li><a href="https://www.0xsid.com/blog/wont-download-your-app">won't download your app</a></li>
        <li><a href="https://whoami.wiki/blog/personal-encyclopedias">personal encyclopedias</a></li>
        <li><a href="https://www.sambent.com/microsofts-plan-to-fix-windows-11-is-gaslighting/">Windows 11 Gaslight</a></li>
    </ol>
</Section>