---
import Section from "./Section.astro";
---

<Section title="Tools">
    <p class="mb-4">
        I use a variety of tools to help me with my work
    </p>

    <div class="flex flex-col">
        <div>
            <h3 class="text-lg font-bold mb-2">Software</h3>
            <ul class="list-disc list-inside">
                <li>Arch Linux</li>
                <li>Visual Studio Code</li>
                <li>Visual Studio</li>
                <li>Neovim</li>
                <li>Obsidian</li>
            </ul>
        </div>
        <div>
            <h3 class="text-lg font-bold mb-2">Setup</h3>
            <ul class="list-disc list-inside">
                <li>Keychrom K3 Pro</li>
                <li>Logitech MX Master 3S</li>
                <li>HP Victus Gaming Laptop</li>
            </ul>
        </div>
        
    </div>
    
</Section>